---
layout: page
title: 
description: Custom development tailored to your needs
cover: true
---

<!-- Cover -->
<section>
	<div class="h-screen bg-cover bg-no-repeat before:absolute before:w-full before:h-full before:inset-0 before:bg-gradient-to-r before:from-[#322e40] before:to-[#8b86a3] before:opacity-80" style="background-image: url(assets/img/background-medium.jpg);">
		<div class="relative container h-full flex flex-col justify-center items-center text-center text-white">
			<h1>{{ "Next generation software solutions" }}</h1>
			<p class="text-xl font-light text-slate-300 tracking-wide uppercase">{{ page.description }}</p>
		</div>
	</div>
</section>

<!-- Services -->
<section>
  <div class="container">
    <div class="text-center">
			<h2>{{ "Our Services"}}</h2>
			<p class="text-slate-500">We offer a multitude of development services to turn your visions and ideas into reality</p>
		</div>
    <div class="grid grid-cols-4 gap-4 py-10">
			{% for service in site.data.services %}
				<div class="flex flex-col rounded shadow-lg transition ease-in-out duration-200 hover:shadow-xl hover:scale-1005">
					<div class="rounded-t text-center text-white text-3xl py-20 bg-[#35354e]">
						<i class="bi-{{ service.icon }}"></i>
					</div>
					<div class="grow flex flex-col justify-between">
						<div class="grow text-center p-4">
							<h5>{{ service.name }}</h5>
							<p>{{ service.description }}</p>
						</div>
						<div class="flex flex-row p-4">
							<i class="bi-code float-start"></i>
							<div class="grow text-center">
								{% for tag in service.tags %}
									<span class="text-sm text-slate-500">
										{{ tag.name }}{% unless forloop.last %}, {% endunless %}
									</span>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
    </div>
  </div>
</section>

<!-- CTA -->
<section>
	<div class="bg-[#787899] opacity-80">
		<div class="container py-20">
			<div class="text-center text-white">
				<h2>{{ "Interested in more?" }}</h2>
				<p>Don't hesitate to reach out and meet some of meet our highly experienced team.</p>
				<!-- <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a> -->
			</div>
		</div>
	</div>
</section>
