<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{%if page.title %}{{ page.title }} | {%endif%}{{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="theme-color" content="#ffffff">
<link rel="icon" href="{{ site.favicons.ico }}" sizes="any">
<link rel="icon" href="{{ site.favicons.svg }}" type="image/svg+xml">
<link rel=”mask-icon” href="{{ site.favicons.svg }}" color="#000000">
<link rel="apple-touch-icon" href="{{ site.favicons.touch }}">
<link rel="manifest" href="manifest.json">

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
